OPENAI_API_KEY=
OPENAI_API_BASE_URL=https://openrouter.ai/api/v1
HEDERA_ACCOUNT_ID=
HEDERA_PRIVATE_KEY=
HEDERA_PUBLIC_KEY=
HEDERA_NETWORK=testnet
HEDERA_NETWORK_TYPE=testnet

CUSTODIAL_MODE=true
REDIS_REQ_CHANNEL=toradle_ai_req
REDIS_RESP_CHANNEL=toradle_ai_resp
